extend ./layout/layout.pug
block content
	.breadcrumb-area.breadcrumb-mt.breadcrumb-ptb-2
		.container
			.breadcrumb-content
				h2 Giỏ Hàng
				ul
					li
						a(href='/') Trang chủ
					li
						span  &gt; 
					li
						a(href='/shop') Danh mục
					li
						span  &gt; 
					li.active  Giỏ hàng
	.cart-area.bg-gray.pt-160.pb-160
		.container
			form(action='#')
				.proceed-btn
					a(href='/shop') Tiếp tục chọn sách
				.cart-table-content
					.table-content.table-responsive
						table
							thead
								tr
									th Tên sách
									th.th-text-center  Giá tiền
									th.th-text-center Số lượng
									th.th-text-center Tổng tiền
									th.th-text-center Xóa
							tbody
								if datas
									each product in datas
										tr
											td.cart-product
												.product-img-info-wrap
													.product-img
														a(href='')
															img(src='/upload/images/'+product.photo, alt='')
													.product-info
														h4
															a(href='#')=product.name
											td.product-price
												span.amount=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
											td.cart-quality
												span=product.quantity	
											td.product-total
												span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format(((product.quantity)*(product.price)).toFixed()) + ' đ'
											td.product-remove
												a(href='/remove-product-cart/' + product._id, style="color:white; background-color:black;",onclick="return confirm('Bạn có muốn xóa không ?')") X
						.cart-shiping-update-wrapper
							a(href='/checkout') Tiến hành thanh toán
				
