extend ./layout/layout.pug
block content
	// mini cart start
	.breadcrumb-area.breadcrumb-mt.breadcrumb-ptb-2
		.container
			.breadcrumb-content
				h2 Thanh toán
				ul
					li
						a(href='/') Trang chủ
					li
						span  &gt; 
					li
						a(href='/shop') Danh mục
					li
						span  &gt; 
					li.active  Thanh toán
	.checkout-area.bg-gray.pt-160.pb-160
		form(action='', method='post')
			.container
				.row
					.col-lg-6
						.checkout-left-wrap
							.login-guest-top
								.checkout-tab.nav
									a.active(href='', data-toggle='tab')
										| Thông tin đặt hàng
								.tab-content

							.shipping-address-wrap
								h4.checkout-title Địa chỉ người nhận
								.row
									.col-lg-12
										.billing-info
											input(type='text', required='', placeholder='Họ và tên', name='name')
									.col-lg-12
										.billing-info
											input(type='text', required='', placeholder='Địa chỉ', name='address')
									.col-lg-12
										.billing-info
											input(type='text', required='', placeholder='Số điện thoại', name='phone')
					.col-lg-6
						.payment-details.mb-40
							h4.checkout-title Chi tiết đơn hàng
							if datas
								each data in datas
									ul
										li
											h5(style="font-size: 18px")=data.name
											h5=data.quantity+"x	"+new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((data.price).toFixed()) + ' đ'



							.total-order
								ul
									li
										| Tổng tiền cần thanh toán	
										span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((cart.totalPrice).toFixed()) + ' đ'
						.payment-details
							h4.checkout-title Hình thức thanh toán
							.payment-method
								.pay-top.sin-payment
									input#payment-method-3.input-radio(type='radio', value='cheque',checked='checked', name='payment_method')
									label(for='payment-method-3') Thánh toán sau khi nhận hàng
									.payment-box.payment_method_bacs
										p
											| Thanh toán cho người chuyển hàng, được phép xem hàng trước khi thanh toán.


				.back-continue-wrap
					a(href='/cart') Quay lại giỏ hàng
					button Xác nhận thanh toán
	form(action='payment', method='POST',)
		script.stripe-button(src='//checkout.stripe.com/v2/checkout.js', data-key=key, data-amount='', data-currency='vnd', data-name='Dking', data-description='Mua sản phẩm tại cửa hàng Dking', data-locale='auto')
