extend ./layout/layout.pug
block content
	.breadcrumb-area.breadcrumb-mt.bg-gray.breadcrumb-ptb-1
		.container
			.breadcrumb-content.text-center
				h2 Liên hệ chúng tôi
				p
					| Liên tục vượt trội các chỉ số doanh nghiệp mà không cần cải tiến quy trình dựa trên hiệu suất.
		.breadcrumb-img-1
			img(src='/about/breadcrumb-1.png', alt='')
		.breadcrumb-img-2
			img(src='/about/breadcrumb-2.png', alt='')
	.contact-us-area.pt-160.pb-160
		.container
			.row
				.col-lg-9.col-md-8
					.contact-form-area.contact-form-padding.bg-gray
						h2 Liên lạc
						form#contact-form(action='', method='post')
							.single-contact-form
								input(name='name', type='text', placeholder='Tên của bạn')
							.single-contact-form
								input(name='email', type='email', placeholder='Email của bạn')
							.single-contact-form
								input(name='phone', type='text', placeholder='Số điện thoại')
							.single-contact-form
								textarea(name='message', placeholder='Tin nhắn của bạn', spellcheck='false')
								p
								button.submit(type='submit') Gửi thông tin
						p.form-messege
				.col-lg-3.col-md-4
					.contact-info-area
						.single-contact-info
							.contact-info-title
								h4 Thông tin của chúng tôi
							p info@yourdomain.com
							p (+68) 120034509 