extend ./layout/layout.pug
block content
	.login-register-area.bg-gray.pt-155.pb-160
		.container
			.row
				.col-lg-7.col-md-12.ml-auto.mr-auto
					.login-register-wrapper
						.login-register-tab-list.nav
							a.active(data-toggle='tab', href='#lg1')
								h4  login 
						.tab-content
							#lg1.tab-pane.active
								.login-form-container
									.login-register-form
										form(action='', method='post')
											input(type='text', name='email_name', placeholder='Email', value = email?email:'')
											if erroremail
												p=erroremail
											input(type='password', name='user_password', placeholder='Mật Khẩu')
											if errormatkhau
												p=errormatkhau
											.button-box
												.login-toggle-btn
													input(type='checkbox')
													label Ghi nhớ
													a(href='') Quên mật khẩu ?
													a(href='/register') Đăng ký /
												button(type='submit') Đăng Nhập
