extend ./layout/layout.pug
block content
	.login-register-area.bg-gray.pt-155.pb-160
		.container
			.row
				.col-lg-7.col-md-12.ml-auto.mr-auto
					.login-register-wrapper
						.login-register-tab-list.nav
							a.active(data-toggle='tab', href='#lg1')
								h4  Quên mật khẩu ?
						.tab-content
							#lg1.tab-pane.active
								.login-form-container
									.login-register-form
										form(action='', method='post')
											
											input(type='text', name='password', placeholder='Mật khẩu', value = password?password:'')
											if errorpassword
												p=errorpassword
											input(type='text', name='repassword', placeholder='Nhập lại mật khẩu')
											if errorrepassword
												p=errorrepassword
											.button-box
												.login-toggle-btn
												button(type='submit') Gửi 
