extend ./layout/layout.pug
block content
	.breadcrumb-area.breadcrumb-mt.bg-gray.breadcrumb-ptb-1
		.container
			.breadcrumb-content
				h2 Fashion Shop
				p.left
					| Seamlessly predominate enterprise metrics without performance based process improvements.
		.breadcrumb-img-2
			img(src='/images/about/breadcrumb-3.png', alt='')
	.categorie-area
		.container-fluid.p-0
			.row.no-gutters
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/furniture-dress.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Fashion
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/furniture-headphone.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Gadget
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/furniture-chair.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Furniture
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/furniture-chair-2.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Chair
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/furniture-book.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Book
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/autos.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Autos
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/bicycle.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Bicycle 
				.custom-col-8
					.single-categories-5.text-center
						.single-categories-5-img
							a(href='shop.html')
								img.inject-me(src='/images/icon-img/fitness.svg', alt='')
						.categorie-content-6
							h4
								a.color-light(href='shop.html') Fitness
	.shop-area.pt-160.pb-160
		.container
			.shop-categorie-tab.mb-75.nav
				a(href='#shop-categorie-1', data-toggle='tab') Women
				a.active(href='#shop-categorie-2', data-toggle='tab') men
				a(href='#shop-categorie-3', data-toggle='tab') Kids
			.row.flex-row-reverse
				.col-lg-9
					.tab-content
						#shop-categorie-1.tab-pane
							.shop-top-bar
								.shop-top-bar-left
									.shop-tab.nav
										a.active(href='#shop-1', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-grid.svg', alt='')
										a(href='#shop-2', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-list.svg', alt='')
								.shop-top-bar-right
									.shop-page-list
										ul
											li Show
											li.active
												a(href='#') 2
											li
												a(href='#') 4
											li
												a(href='#') 6
							.tab-content.pt-30
								#shop-1.tab-pane.active
									.row
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-153.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Modern Light
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Modern Light
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-152.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Table Clock
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Table Clock
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-151.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Smart Watch
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Smart Watch
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-139.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Pen &amp; Holder
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Pen &amp; Holder
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Eco Bag
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Eco Bag
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Table Plant
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Table Plant
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
								#shop-2.tab-pane
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
								.pro-pagination-style.text-center.mt-50
									ul
										li
											a.active(href='#') 1
										li
											a(href='#') 2
										li
											a(href='#')
												i.icofont-long-arrow-right
						#shop-categorie-2.tab-pane.active
							.shop-top-bar
								.shop-top-bar-left
									.shop-tab.nav
										a.active(href='#shop-3', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-grid.svg', alt='')
										a(href='#shop-4', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-list.svg', alt='')
								.shop-top-bar-right
									.shop-page-list
										ul
											li Show
											li.active
												a(href='#') 2
											li
												a(href='#') 4
											li
												a(href='#') 6
							.tab-content.pt-30
								#shop-3.tab-pane.active
									.row
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Modern Light
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Modern Light
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Table Clock
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Table Clock
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Smart Watch
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Smart Watch
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Pen &amp; Holder
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Pen &amp; Holder
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Eco Bag
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Eco Bag
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-139.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Table Plant
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Table Plant
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-151.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-152.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-153.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
								#shop-4.tab-pane
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-sm-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
								.pro-pagination-style.text-center.mt-50
									ul
										li
											a.active(href='#') 1
										li
											a(href='#') 2
										li
											a(href='#')
												i.icofont-long-arrow-right
						#shop-categorie-3.tab-pane
							.shop-top-bar
								.shop-top-bar-left
									.shop-tab.nav
										a.active(href='#shop-5', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-grid.svg', alt='')
										a(href='#shop-6', data-toggle='tab')
											img.inject-me(src='/images/icon-img/shop-list.svg', alt='')
								.shop-top-bar-right
									.shop-page-list
										ul
											li Show
											li.active
												a(href='#') 2
											li
												a(href='#') 4
											li
												a(href='#') 6
							.tab-content.pt-30
								#shop-5.tab-pane.active
									.row
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-139.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Modern Light
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Modern Light
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Table Clock
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Table Clock
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Smart Watch
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Smart Watch
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Wood Pen &amp; Holder
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Wood Pen &amp; Holder
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Eco Bag
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Eco Bag
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Table Plant
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Table Plant
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-153.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-151.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
										.col-lg-4.col-md-6.col-sm-6.col-12
											.product-wrap.mb-50
												.product-img.product-img-zoom.mb-25
													a(href='product-details.html')
														img(src='/images/product/product-152.jpg', alt='')
												.product-content
													h4
														a(href='product-details.html') Product Title
													.product-price
														span $ 124
														span.old-price $ 130
												.product-action-position-1.text-center
													.product-content
														h4
															a(href='product-details.html') Product Title
														.product-price
															span $ 124
															span.old-price $ 130
													.product-action-wrap
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
														button(title='Add to Compare')
															i.icon-compare
														button(title='Add to Wishlist')
															i.icon-heart-empty
								#shop-6.tab-pane
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-136.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-md-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-134.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-md-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-135.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-md-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-138.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-md-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
									.shop-list-wrap.mb-50
										.row
											.col-lg-4.col-md-4.col-sm-4
												.product-list-img
													a(href='product-details.html')
														img(src='/images/product/product-137.jpg', alt='')
													.shop-list-quickview
														button(data-toggle='modal', data-target='#exampleModal')
															i.icon-zoom
											.col-lg-8.col-md-8.col-md-8
												.shop-list-content.ml-20
													h3
														a(href='#') Product Title Here
													.pro-list-price
														span $50.00
														span.old-price $50.00
													p
														| Composition: 50% cotton,45% polyester, 5% polyamide. Filling: 100% polyester. Hood fur: 64% acrylic,23% modacrylic,13% polyester
													.product-list-action
														button(title='Add to Compare')
															i.icon-compare
														.product-action-cart
															button(title='Add to Cart') Add to cart
														button(title='Add to Wishlist')
															i.icon-heart-empty
								.pro-pagination-style.text-center.mt-50
									ul
										li
											a.active(href='#') 1
										li
											a(href='#') 2
										li
											a(href='#')
												i.icofont-long-arrow-right
				.col-lg-3
					.shop-sidebar-style
						.sidebar-widget
							h4.pro-sidebar-title Subcategories
							.sidebar-widget-categori.mt-45.mb-70
								ul
									li
										a(href='#') All
									li
										a.active(href='#') Clothing
									li
										a(href='#') Shoes
									li
										a(href='#') Watches
									li
										a(href='#') Jewelry
									li
										a(href='#') Accessories
									li
										a(href='#')  Big &amp; Tall 
									li
										a(href='#') Contemporary
						.sidebar-widget
							h4.pro-sidebar-title Filter By Color
							.pro-details-color-content.sidebar-widget-color.mt-45.mb-70
								ul
									li
										a.white(href='#') Black
									li
										a.azalea(href='#') Blue
									li
										a.dolly(href='#') Green
									li
										a.peach-orange(href='#') Orange
									li
										a.mona-lisa.active(href='#') Pink
									li
										a.cupid(href='#') gray
									li
										a.one(href='#') one
									li
										a.two(href='#') two
									li
										a.three(href='#') three
									li
										a.four(href='#') four
									li
										a.five(href='#') five
									li
										a.six(href='#') six
									li
										a.seven(href='#') seven
									li
										a.eight(href='#') eight
									li
										a.nine(href='#') nine
									li
										a.ten(href='#') ten
						.sidebar-widget
							h4.pro-sidebar-title Filter By Size
							.sidebar-widget-size.mt-50.mb-75
								ul
									li
										a(href='#') XS
									li
										a(href='#') S
									li
										a(href='#') M
									li
										a(href='#') L
									li
										a(href='#') XL
									li
										a(href='#') XXL
						.sidebar-widget
							h4.pro-sidebar-title Filter By Price Range
							.price-filter.mt-55.mb-65
								#slider-range
								.price-slider-amount
									.label-input
										span Price: 
										input#amount(type='text', name='price', placeholder='Add Your Price')
						.sidebar-widget
							h4.pro-sidebar-title Filter By Brand
							.sidebar-widget-brand-logo.mt-50
								ul
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-1.png', alt='')
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-2.png', alt='')
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-3.png', alt='')
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-6.png', alt='')
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-5.png', alt='')
									li
										a(href='#')
											img(src='/images/brand-logo/brand-logo-4.png', alt='')

	// Modal
	#exampleModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') x
				.modal-body
					.row
						.col-lg-5.col-md-5.col-12.col-sm-6
							.quickview-img
								img(src='/images/product/product-3.jpg', alt='')
						.col-lg-7.col-md-7.col-12.col-sm-6
							.product-details-content.quickview-content
								h2 Electronic Shop
								.product-ratting-review-wrap
									.product-ratting-digit-wrap
										.product-ratting
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-star-empty
										.product-digit
											span 4.0
									.product-review-order
										span 62 Reviews
										span 242 orders
								p
									| Seamlessly predominate enterprise metrics without performance based process improvements.
								.pro-details-price
									span US $75.72
									span.old-price US $95.72
								.pro-details-color-wrap
									span Color:
									.pro-details-color-content
										ul
											li
												a.white(href='#') Black
											li
												a.azalea(href='#') Blue
											li
												a.dolly(href='#') Green
											li
												a.peach-orange(href='#') Orange
											li
												a.mona-lisa.active(href='#') Pink
											li
												a.cupid(href='#') gray
								.pro-details-size
									span Size:
									.pro-details-size-content
										ul
											li
												a(href='#') XS
											li
												a(href='#') S
											li
												a(href='#') M
											li
												a(href='#') L
											li
												a(href='#') XL
											li
												a(href='#') XXL
								.pro-details-quality
									span Quantity:
									.cart-plus-minus
										input.cart-plus-minus-box(type='text', name='qtybutton', value='1')
								.product-details-meta
									ul
										li
											span Model:
											a(href='#') Odsy-1000
										li
											span Ship To
											a(href='#') 2834 Laurel Lane
											| , 
											a(href='#') Mentone
											|  , 
											a(href='#') Texas
								.pro-details-action-wrap
									.pro-details-buy-now
										a(href='#') Buy Now
									.pro-details-action
										a(title='Add to Cart', href='#')
											i.icon-basket
										a(title='Add to Wishlist', href='#')
											i.icon-heart
										a.social(title='Social', href='#')
											i.icon-share
										.product-dec-social
											a.facebook(title='Facebook', href='#')
												i.icon-social-facebook-square
											a.twitter(title='Twitter', href='#')
												i.icon-social-twitter
											a.instagram(title='Instagram', href='#')
												i.icon-social-instagram
											a.pinterest(title='Pinterest', href='#')
												i.icon-social-pinterest
