// HEADER DESKTOP
header.header-desktop
	.section__content.section__content--p30
		.container-fluid
			.header-wrap
				form.form-header(action='', method='POST')
					input.au-input.au-input--xl(type='text', name='search', placeholder='Search for datas & reports...')
					button.au-btn--submit(type='submit')
						i.zmdi.zmdi-search
				.header-button
					.noti-wrap
						.noti__item.js-item-menu
							i.zmdi.zmdi-comment-more
							span.quantity 1
							.mess-dropdown.js-dropdown
								.mess__title
									p You have 2 news message
								.mess__item
									.image.img-cir.img-40
										img(src='images/icon/avatar-06.jpg', alt='Michelle Moreno')
									.content
										h6 Michelle Moreno
										p Have sent a photo
										span.time 3 min ago
								.mess__item
									.image.img-cir.img-40
										img(src='images/icon/avatar-04.jpg', alt='Diane Myers')
									.content
										h6 Diane Myers
										p You are now connected on message
										span.time Yesterday
								.mess__footer
									a(href='#') View all messages
						.noti__item.js-item-menu
							i.zmdi.zmdi-email
							span.quantity 1
							.email-dropdown.js-dropdown
								.email__title
									p You have 3 New Emails
								.email__item
									.image.img-cir.img-40
										img(src='images/icon/avatar-06.jpg', alt='Cynthia Harvey')
									.content
										p Meeting about new dashboard...
										span Cynthia Harvey, 3 min ago
								.email__item
									.image.img-cir.img-40
										img(src='images/icon/avatar-05.jpg', alt='Cynthia Harvey')
									.content
										p Meeting about new dashboard...
										span Cynthia Harvey, Yesterday
								.email__item
									.image.img-cir.img-40
										img(src='images/icon/avatar-04.jpg', alt='Cynthia Harvey')
									.content
										p Meeting about new dashboard...
										span Cynthia Harvey, April 12,,2018
								.email__footer
									a(href='#') See all emails
						.noti__item.js-item-menu
							i.zmdi.zmdi-notifications
							span.quantity 3
							.notifi-dropdown.js-dropdown
								.notifi__title
									p You have 3 Notifications
								.notifi__item
									.bg-c1.img-cir.img-40
										i.zmdi.zmdi-email-open
									.content
										p You got a email notification
										span.date April 12, 2018 06:50
								.notifi__item
									.bg-c2.img-cir.img-40
										i.zmdi.zmdi-account-box
									.content
										p Your account has been blocked
										span.date April 12, 2018 06:50
								.notifi__item
									.bg-c3.img-cir.img-40
										i.zmdi.zmdi-file-text
									.content
										p You got a new file
										span.date April 12, 2018 06:50
								.notifi__footer
									a(href='#') All notifications
					.account-wrap
						.account-item.clearfix.js-item-menu
							.image
								img(src='images/icon/avatar-01.jpg', alt='John Doe')
							.content
								a.js-acc-btn(href='#') john doe
							.account-dropdown.js-dropdown
								.info.clearfix
									.image
										a(href='#')
											img(src='images/icon/avatar-01.jpg', alt='John Doe')
									.content
										h5.name
											a(href='#') john doe
										span.email johndoe@example.com
								.account-dropdown__body
									.account-dropdown__item
										a(href='#')
											i.zmdi.zmdi-account
											| Account
									.account-dropdown__item
										a(href='#')
											i.zmdi.zmdi-settings
											| Setting
									.account-dropdown__item
										a(href='#')
											i.zmdi.zmdi-money-box
											| Billing
								.account-dropdown__footer
									a(href='#')
										i.zmdi.zmdi-power
										| Logout
// HEADER DESKTOP