aside.menu-sidebar.d-none.d-lg-block
  .logo
    a(href='/admin/category')
      img(src='/upload/admin/logo.png', alt='Cool Admin')
  .menu-sidebar__content.js-scrollbar1
    nav.navbar-sidebar
      ul.list-unstyled.navbar__list
        li
          a(href='#')
            i.fas.fa-chart-bar
            | Trang ch&#x1EE7;
        li.has-sub
          a.js-arrow(href='/admin/category')
            i.fas.fa-desktop
            | Danh m&#x1EE5;c
        li.has-sub
          a.js-arrow(href='/admin/product')
            i.fas.fa-copy
            | S&#x1EA3;n ph&#x1EA9;m
        li.has-sub
          a.js-arrow(href='/admin/user')
            i.fas.fa-desktop
            | Ng&#x1B0;&#x1EDD;i d&ugrave;ng
        li.has-sub
          a.js-arrow(href='/admin/admin')
            i.fas.fa-desktop
            | Ng&#x1B0;&#x1EDD;i qu&#x1EA3;n l&yacute;
        li.has-sub
          a.js-arrow(href='/admin/order')
            i.fas.fa-desktop
            | &Dstrok;&#x1A1;n h&agrave;ng
        li.has-sub
          a.js-arrow(href='/admin/search')
            i.fas.fa-copy
            | Thống kê
        