footer.footer-area.bg-gray.pt-160
  .footer-top.pb-120
    .container
      .row
        .col-lg-3.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Sản phẩm
            .footer-info-list
              ul
                li
                  a(href='#') Sách kinh tế
                li
                  a(href='#') Sách nấu ăn
                li
                  a(href='#') Sách truyện
                li
                  a(href='#') Sách tiểu sử
        .col-lg-3.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Thông tin
            .footer-info-list
              ul
                li
                  a(href='#') Thông tin về chúng tôi
                li
                  a(href='#') FAQ
                li
                  a(href='#') Help
        .col-lg-2.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Mạng xã hội
            .footer-info-list
              ul
                li
                  a(href='#') Instagram
                li
                  a(href='#') Twitter
                li
                  a(href='#') Facebook
                li
                  a(href='#') Pinterest
        .col-lg-4.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Đăng ký để nhận thông báo !
            .subscribe-wrap
              #mc_embed_signup.subscribe-form
                form#mc-embedded-subscribe-form.validate.subscribe-form-style(novalidate='', target='_blank', name='mc-embedded-subscribe-form', method='post', action='f')
                  #mc_embed_signup_scroll.mc-form
                    input.email(type='email', required='', placeholder='Nhập email', name='EMAIL', value='')
                    .mc-news(aria-hidden='true')
                      input(type='text', value='', tabindex='-1', name='')
                    .clear
                      input#mc-embedded-subscribe.button(type='submit', name='subscribe', value='')
              p Nhanh tay đăng ký !
            .app-google-store
              a(href='#')
                img(src='/icon-img/app-store.png', alt='')
              a(href='#')
                img(src='/icon-img/google-play.png', alt='')
  .footer-bottom.border-top-1
    .container
      .copyright.copyright-ptb.text-center
        p
          | Copyright &copy; 2020 Dking - 
          a(target='_blank', href='https://hasthemes.com/')  All Right Reserved