footer.footer-area.bg-gray.pt-160
  .footer-top.pb-120
    .container
      .row
        .col-lg-3.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Product
            .footer-info-list
              ul
                li
                  a(href='#') Coats
                li
                  a(href='#') Dresses
                li
                  a(href='#') Hoodies &amp; Sweatshirts
                li
                  a(href='#') Infant &amp; Toddlers Clothing
        .col-lg-3.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Information
            .footer-info-list
              ul
                li
                  a(href='#') About Us
                li
                  a(href='#') FAQ
                li
                  a(href='#') Help
                li
                  a(href='#') Shipping &amp; Return
        .col-lg-2.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Socials
            .footer-info-list
              ul
                li
                  a(href='#') Instagram
                li
                  a(href='#') Twitter
                li
                  a(href='#') Facebook
                li
                  a(href='#') Pinterest
        .col-lg-4.col-md-6.col-sm-6
          .footer-widget.mb-40
            h3.footer-title Subscribe to get offer!
            .subscribe-wrap
              #mc_embed_signup.subscribe-form
                form#mc-embedded-subscribe-form.validate.subscribe-form-style(novalidate='', target='_blank', name='mc-embedded-subscribe-form', method='post', action='http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&id=05d85f18ef')
                  #mc_embed_signup_scroll.mc-form
                    input.email(type='email', required='', placeholder='Your email', name='EMAIL', value='')
                    .mc-news(aria-hidden='true')
                      input(type='text', value='', tabindex='-1', name='b_6bbb9b6f5827bd842d9640c82_05d85f18ef')
                    .clear
                      input#mc-embedded-subscribe.button(type='submit', name='subscribe', value='')
              p We&rsquo;ll never share your email address with a third-party.
            .app-google-store
              a(href='#')
                img(src='/icon-img/app-store.png', alt='')
              a(href='#')
                img(src='/icon-img/google-play.png', alt='')
  .footer-bottom.border-top-1
    .container
      .copyright.copyright-ptb.text-center
        p
          | Copyright &copy; 2020 Dking - 
          a(target='_blank', href='https://hasthemes.com/')  All Right Reserved